<html lang='en' dir='ltr'>
  <head>
    {{{style}}}
    {{{script}}}
  </head>
  <body class='theme preview-body'>

    <div class='example-card{{#if featured}} is-featured{{/if}}'>
      <h2>{{title}}</h2>
      <p>{{paragraph}}</p>
      {{#if image}}
      <img src='{{image.src}}' alt='{{image.alt}}' class='example-card__image' />
      {{/if}}
      {{#if button}}
      <a href='{{button.url}}' class='example-card__button'>{{button.label}}</a>
      {{/if}}
    </div>

  </body>
</html>
