<html lang='en' dir='ltr'>
  <head>
    {{{style}}}
  </head>
  <body class='theme preview-body'>

    <div class='example-cards'>
      {{#each properties.cards as |card|}}
      <article class='example-card {{#if card.featured}}is-featured{{/if}}'>
        <img src='{{card.image.src}}' alt='{{card.image.alt}}' class='example-card__image' />
        <h2 class='example-card__title'>{{card.title}}</h2>
        <p class='example-card__description'>{{card.description}}</p>
        <a href='{{card.link.url}}' class='example-card__link'>{{card.link.label}}</a>
      </article>
      {{/each}}
    </div>

  </body>
</html>
