<head>
  {{{style}}}
  {{{script}}}
</head>
<body class="preview-body">
<section class="py-8 py-lg-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="accordion accordion-spaced" id="{{properties.id}}">
          {{#each properties.items}}
          <div class="accordion-item">
            <h3 class="accordion-header" id="{{../properties.id}}-heading-{{this.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{../properties.id}}-collapse-{{this.id}}" aria-expanded="true" aria-controls="{{../properties.id}}-collapse-{{this.id}}">
               {{this.title}}
              </button>
            </h3>
            <div id="{{../properties.id}}-collapse-{{this.id}}" class="accordion-collapse collapse" aria-labelledby="{{this.id}}" data-bs-parent="#{{../properties.id}}-heading-{{this.id}}">
              <div class="accordion-body w-lg-90 mx-lg-auto fs-lg">
                <p>{{this.paragraph}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
</body>